* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ul {
    list-style-type: none;
  }

  font-family: "Nunito Sans", sans-serif;
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bckgrnd: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);

  color: var(--text);
  background-color: var(--bckgrnd);
}
.dark-mode {
  --text: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
  --bckgrnd: hsl(207, 26%, 17%);
}

.container {
  padding-inline: 1rem;
  background-color: var(--bckgrnd);
}

.header {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--elements);
  p {
    color: var(--text);
    margin: 0;
    font-weight: 800;
  }
  button {
    border: none;
    background-color: var(--elements);
    span {
      color: var(--text);
      font-weight: 300;
    }
  }
}

.countries {
  font-size: 14px;
}

.inputs {
  background-color: var(--bckgrnd);
  padding-block: 2rem;
  i {
    position: absolute;
  }
}
.icon {
  padding: 10px 20px;
  color: var(--text);
}
.country-input {
  color: var(--text);
  border-radius: 7px;
  border: none;
  width: 100%;
  padding: 10px 0 10px 60px;
  background-color: var(--elements);
  &::placeholder {
    color: var(--text);
  }
}

.dropdown {
  padding-bottom: 1rem;
  background-color: var(--bckgrnd);
  position: relative;

  .dropdown-content {
    background-color: var(--elements);
    color: var(--text);
    width: 60vw;
    border-radius: 7px;
    padding-block: 1rem;
    padding-inline: 0;
    // display: none;

    position: absolute;
    top: 1.8rem;
    .dropdown-item {
      padding-left: 20px;
      padding-block: 0.2rem;
      cursor: pointer;

      &:hover {
        background-color: var(--bckgrnd);
      }
    }
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }

  .dropdown-control {
    position: relative;
    width: 60vw;
    .dropdown-input {
      width: 100%;
      border-radius: 7px;
      border: none;
      cursor: pointer;
      padding: 10px 40px 10px 20px;
      background-color: var(--elements);
      color: var(--text);
      text-align: start;

      &::placeholder {
        color: var(--text);
      }
    }
    .icon {
      position: absolute;
      right: 0;
      padding: 10px 20px;
    }
  }
}
