* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* span {
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bckgrnd: hsl(0, 0%, 90%);
  --elements: hsl(0, 0%, 100%);
  background-color: var(--bckgrnd);
}

body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dark-mode {
  --text: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
  --bckgrnd: hsl(207, 26%, 17%);
}

#root {
  height: 100%;
}

.top-container {
  background-color: var(--bckgrnd);
  min-height: 100vh;
}

.container {
  padding-inline: 1rem;
}

.element {
  background-color: var(--elements);
  color: var(--text);
}

.header {
  padding-block: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--elements);
}

.header .h-text {
  margin: 0;
  font-weight: 800;
}

.header .mode-toggle {
  border: none;
  background-color: var(--elements);
  cursor: pointer;
}

.header .mode-toggle .button-text {
  font-weight: 300;
  margin: 0;
}

.header .mode-toggle .icon {
  padding: 0;
}

.countries {
  font-size: 14px;
}

.loading {
  color: var(--text);
  text-align: center;
  font-weight: 600;
}

.inputs {
  padding-block: 2rem;
}

.inputs i {
  position: absolute;
}

.icon {
  padding: 10px 20px;
  color: var(--text);
}

.country-input {
  border-radius: 7px;
  border: none;
  width: 100%;
  padding: 10px 0 10px 60px;
}

.country-input::-webkit-input-placeholder {
  color: var(--text);
}

.country-input:-ms-input-placeholder {
  color: var(--text);
}

.country-input::-ms-input-placeholder {
  color: var(--text);
}

.country-input::placeholder {
  color: var(--text);
}

.dropdown {
  padding-block: 1rem;
  position: relative;
}

.dropdown .dropdown-content {
  width: 60vw;
  border-radius: 7px;
  padding-block: 1rem;
  padding-inline: 0;
  position: absolute;
  top: 3.5rem;
}

.dropdown .dropdown-content .dropdown-item {
  padding-left: 20px;
  padding-block: 0.2rem;
  cursor: pointer;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: var(--bckgrnd);
}

.dropdown .visible {
  display: block;
}

.dropdown .invisible {
  display: none;
}

.dropdown .dropdown-control {
  position: relative;
  width: 60vw;
}

.dropdown .dropdown-control .dropdown-input {
  width: 100%;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  text-align: start;
}

.dropdown .dropdown-control .dropdown-input::-webkit-input-placeholder {
  color: var(--text);
}

.dropdown .dropdown-control .dropdown-input:-ms-input-placeholder {
  color: var(--text);
}

.dropdown .dropdown-control .dropdown-input::-ms-input-placeholder {
  color: var(--text);
}

.dropdown .dropdown-control .dropdown-input::placeholder {
  color: var(--text);
}

.dropdown .dropdown-control .icon {
  position: absolute;
  right: 0;
  padding: 10px 20px;
}

.card-container {
  margin-inline: 2rem;
  background-color: var(--elements);
  border-radius: 7px;
  max-width: 630px;
  cursor: pointer;
}

.card-container img {
  border-radius: 7px 7px 0 0;
}

.card-container .content-container {
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
}

.card-container .content-container .capital-name {
  padding-block: 0.8rem;
  font-size: 16px;
}

.card-container .content-container .card-details {
  padding-block: 0.25rem;
}

.card-container h2,
.card-container p {
  margin: 0;
}

.border-header {
  font-size: 16px;
  font-weight: 600;
}

.button-container {
  margin-block: 2rem;
}

.button-container .back {
  position: relative;
  padding: 0.4rem 1rem;
}

.button-container .back .icon {
  position: absolute;
  left: 0;
  padding: 0;
  margin-left: 0.5rem;
}

.button-container .back span {
  margin-left: 1.3rem;
}

.button {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.image-container {
  aspect-ratio: 1.67 / 1;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.country-details {
  font-size: 16px;
}

.content-section {
  color: var(--text);
  margin-block: 2rem;
}

.content-section .content-line {
  font-weight: 600;
  margin-block: 0.5rem;
}

.content-section .content-line span {
  font-weight: 300;
}

.content-section:last-child {
  margin-bottom: 0;
}

.list-item ~ .list-item::before {
  content: ", ";
}

.border-button {
  padding: 0.4rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
}

.error {
  color: red;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .card-container {
    max-width: 290px;
    margin-inline: 0;
  }
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-block: 2rem;
  }
  .form-container .inputs,
  .form-container .dropdown {
    padding-block: 0;
    margin-block: 0;
  }
  .form-container .inputs {
    width: 40vw;
  }
  .form-container .dropdown-control {
    width: 30vw;
  }
  .all-content .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 3rem;
  }
  .form-container .inputs {
    width: 30vw;
  }
  .form-container .dropdown-control {
    width: 15vw;
  }
  .country-details .details .image-container {
    float: left;
    width: 30vw;
  }
  .country-details .details .all-content {
    float: right;
    width: 55vw;
  }
  .country-details .borders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    margin-top: 1rem;
  }
  .country-details .borders .border-header {
    margin-block: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .country-details .details .image-container {
    width: 50vw;
  }
  .country-details .details .all-content {
    width: 35vw;
  }
}
/*# sourceMappingURL=styles.css.map */